<%- include("./partials/header") %>
<h1>edit <%=edit.username%>'s profile</h1>
<form action="/<%= edit.id%>?_method=PUT" method="POST">
    <label>fullname</label>
        <input type="text" name="update[fullname]" value="<%=edit.fullname%>">
    
    <label>description</label>
        <textarea type="text" name="update[description]" value="<%=edit.description%>"></textarea>
    
    
</form>